SIP_MOSA_2016_1/header/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://nraa.gov.om/sip/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="digitalObjectType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="originalName"/>
            <xs:element type="xs:string" name="checksumAlgorithm"/>
            <xs:element type="xs:string" name="checksum"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="folderType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="originalName"/>
            <xs:element type="v1:digitalObjectType" name="digitalObject" maxOccurs="unbounded" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:folderType" name="folder" maxOccurs="unbounded" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tocType">
        <xs:sequence>
            <xs:element type="v1:folderType" name="folder" maxOccurs="unbounded" minOccurs="1"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="creationTimePeriodType">
        <xs:sequence>
            <xs:element type="xs:date" name="from"/>
            <xs:element type="xs:date" name="until"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="provenanceType">
        <xs:sequence>
            <xs:element type="xs:string" name="creatorName"/>
            <xs:element type="xs:string" name="systemName"/>
            <xs:element type="xs:string" name="systemDescription"/>
            <xs:element type="xs:string" name="systemRelated"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="retentionSeriesType">
        <xs:sequence>
            <xs:element type="xs:string" name="retentionSeriesNumber"/>
            <xs:element type="xs:string" name="retentionSeriesTitle"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="additionalInfoType">
        <xs:sequence>
            <xs:element type="v1:attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="relationshipType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ref" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="7"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="relationshipsType">
        <xs:sequence>
            <xs:element type="v1:relationshipType" name="relationship" maxOccurs="unbounded" minOccurs="1"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="securityLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="U"/> <!-- UNCLASSIFIED -->
            <xs:enumeration value="C"/> <!-- CONFIDENTIAL -->
            <xs:enumeration value="R"/> <!-- RESTRICTED -->
            <xs:enumeration value="S"/> <!-- SECRET -->
            <xs:enumeration value="T"/> <!-- TOP SECRET -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="formOfAppearanceType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="unspecified"/>
            <xs:enumeration value="digital"/>
            <xs:enumeration value="non-digital"/>
            <xs:enumeration value="mixed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="recordType">
        <xs:sequence>
            <xs:element name="title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="recordNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="recordType"/>
            <xs:element type="xs:date" name="dateRegistered"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="creator"/>
            <xs:element type="v1:securityLevelType" name="securityLevel" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:formOfAppearanceType" name="formOfAppearance" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element name="digitalObjectRef" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="7"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="v1:additionalInfoType" name="additionalInfo" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:relationshipsType" name="relationships" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1">
                <xs:unique name="uniqueRelationshipItemsWithinRecord">
                    <xs:selector xpath=".//v1:relationship"/>
                    <xs:field xpath="@type"/>
                    <xs:field xpath="@ref"/>
                    <!-- The combination of type and ref must be unique for relationships in any
                    given record (but not necessarily across multiple records) -->
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="fileVolumeType">
        <xs:sequence>
            <xs:element type="v1:creationTimePeriodType" name="creationTimePeriod"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="xs:date" name="dateClosed"/>
            <xs:element type="xs:string" name="creator"/>
            <xs:element type="v1:recordType" name="record" maxOccurs="unbounded" minOccurs="1"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" name="fileNumber" use="required"/>
        <xs:attribute type="xs:integer" name="volumeNumber" use="required"/>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element name="title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="v1:creationTimePeriodType" name="creationTimePeriod"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:securityLevelType" name="securityLevel" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="xs:string" name="organisationUnitResponsible"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="v1:retentionSeriesType" name="retentionSeries" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:formOfAppearanceType" name="formOfAppearance" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:fileVolumeType" name="fileVolume" maxOccurs="unbounded" minOccurs="1"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" name="fileNumber" use="required"/>
    </xs:complexType>
    <xs:complexType name="classificationLevelType">
        <xs:sequence>
            <xs:element name="title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="v1:fileType" name="file" minOccurs="0" xmlns:v1="http://nraa.gov.om/sip/v1">
                <xs:unique name="uniqueFileVolumeNumberWithinFile">
                    <xs:selector xpath="./v1:fileVolume"/>
                    <xs:field xpath="@volumeNumber"/>
                    <!-- The volume number need only be unique among file volumes within the same file.
                    It need not be unique among file volumes from different files -->
                </xs:unique>
            </xs:element>
            <xs:element type="v1:classificationLevelType" name="classificationLevel" minOccurs="0"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" name="levelNumber" use="required"/>
    </xs:complexType>
    <xs:complexType name="classificationSystemType">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="classificationSystemVersion"/>
            <xs:element type="v1:classificationLevelType" name="classificationLevel"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="submissionType">
        <xs:sequence>
            <xs:element name="submissionType">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="EDRMS"/>
                        <!-- At the moment, only EDRMS is allowed
                        <xs:enumeration value="FILES"/>
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="submittingOrganisation">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="submissionNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="transferApprovalReference">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="v1:creationTimePeriodType" name="creationTimePeriod"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="xs:string" name="protectionPeriodCategory"/>
            <xs:element type="xs:string" name="protectionPeriod"/>
            <xs:element type="xs:string" name="protectionPeriodArguments"/>
            <xs:element type="v1:provenanceType" name="provenance" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:classificationSystemType" name="classificationSystem"
                        xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="packageType">
        <xs:sequence>
            <xs:element name="packageType" >
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="SIP"/>
                        <!-- At the moment, only SIP is allowed
                        <xs:enumeration value="AIP"/>
                        <xs:enumeration value="DIP"/>
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="v1:tocType" name="toc" xmlns:v1="http://nraa.gov.om/sip/v1"/>
            <xs:element type="v1:submissionType" name="submission" xmlns:v1="http://nraa.gov.om/sip/v1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="schemaVersion"/>
    </xs:complexType>
    <xs:element name="package" type="v1:packageType" xmlns:v1="http://nraa.gov.om/sip/v1">
        <xs:unique name="uniqueDigitalObjectId">
            <xs:selector xpath=".//v1:digitalObject"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueClassificationLevelId">
            <xs:selector xpath=".//v1:classificationLevel"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueClassificationLevelLevelNumber">
            <xs:selector xpath=".//v1:classificationLevel"/>
            <xs:field xpath="@levelNumber"/>
        </xs:unique>
        <xs:unique name="uniquefileOrFileVolumeId">
            <xs:selector xpath=".//v1:file|.//v1:fileVolume"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniquefileOrFileVolumeNumber">
            <xs:selector xpath=".//v1:file|.//v1:fileVolume"/>
            <xs:field xpath="@fileNumber"/>
        </xs:unique>
        <xs:unique name="uniqueRecordId">
            <xs:selector xpath=".//v1:record"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueDigitalObjectRef">
            <xs:selector xpath=".//v1:digitalObjectRef"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
</xs:schema>
